.card-header {
    text-align: left;
}
.card-body {
    text-align: left;
}
.card-text {
    text-align: left;
}

.searchbar {
    float: right
}

#titlePage {
    height: 100vh;
    background: linear-gradient(
        to top,
        white 0%,
        white 82%,
        rgb(33,37,41) 82%,
        rgb(33,37,41) 100%
    );
    

}