{% extends 'base.html' %}

{% block content %}
    <center><h1>EXAMPLE TEMPLATE CRIME SCRIPTS</h1></center>
    <br/>
    <br/>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Robbery Script
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="card">
                    <h5 class="card-header"><strong><em>PROTOSCRIPT:&nbsp;</em></strong> ROBBERY
                        <br/><strong><em>SCRIPT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> ROBBERY FROM PERSON
                        <br/><strong><em>TRACK:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> "SUBWAY MUGGING"
                    </h5>
                    <div class="card-body">
                      <p class="card-text">
                      <table  class="table table-hover table-striped table-secondary table-bordered">
                        <tr>
                            <th>SCRIPT SCENES/FUNCTIONS</th>
                            <th>SCRIPT ACTIONS</th>
                        </tr>
                        <tr>
                            <td>PREPARATION</td>
                            <td>Meet and agree on hunting gorund</td>   
                        </tr>
                        <tr>
                            <td>ENTRY</td>
                            <td>Entry into underground system</td>   
                        </tr>
                        <tr>
                            <td>PRE-CONDITION</td>
                            <td>Travel to hunting gorund</td>   
                        </tr>
                        <tr>
                            <td>PRE-CONDITION</td>
                            <td>Waiting/circulating at hunting ground</td>   
                        </tr>
                        <tr>
                            <td>INSTRUMENTAL PRE-CONDITION</td>
                            <td>Selecting victim and circumstance</td>   
                        </tr>
                        <tr>
                            <td>INSTRUMENTAL INITIATION</td>
                            <td>Closing-in/prepartion</td>   
                        </tr>
                        <tr>
                            <td>INSTRUMENTAL ACTUALIZATION</td>
                            <td>Striking at victim</td>   
                        </tr>  
                        <tr>
                            <td>INSTRUMENTAL ACTUALIZATION</td>
                            <td>Pressing home attack</td>   
                        </tr>
                        <tr>
                            <td>DOING</td>
                            <td>Take money, jewelry, etc</td>   
                        </tr>
                        <tr>
                            <td>POST-CONDITION</td>
                            <td>Escape from scene</td>   
                        </tr>
                        <tr>
                            <td>EXIT</td>
                            <td>Exit from system</td>   
                        </tr>
                    </table>
                    </p>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Auto Theft Script
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="card">
                    <h5 class="card-header"><strong><em>PROTOSCRIPT:&nbsp;</em></strong> AUTO THEFT
                        <br/><strong><em>SCRIPT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> TEMPORARY USE
                        <br/><strong><em>TRACK:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> "TRANSPORT"
                    </h5>
                    <div class="card-body">
                      <p class="card-text">
                        <table  class="table table-hover table-striped table-secondary table-bordered">
                          <tr>
                              <th>SCRIPT SCENES/FUNCTIONS</th>
                              <th>SCRIPT ACTIONS</th>
                          </tr>
                          <tr>
                              <td>PREPARATION</td>
                              <td>Get screwdriver<br/> Get scaffold tube<br/> Select(2) co-offenders</td>   
                          </tr>
                          <tr>
                              <td>ENTRY</td>
                              <td>Go to public car-park</td>   
                          </tr>
                          <tr>
                              <td>INSTRUMENTAL PRE-CONDITION</td>
                              <td>Reject alarmed cars<br/> Choose older Cortina</td>   
                          </tr>
                          <tr>
                              <td>INSTRUMENTAL INITIATION</td>
                              <td>Force lock with screwdriver<br/> Enter vehicle</td>   
                          </tr>
                          <tr>
                              <td>INSTRUMENTAL ACTUALIZATION</td>
                              <td>Break off trim<br/> "Scaff" ignition barrel<br/> Remove ignition and steering lock<br/> Activate starter switch</td>   
                          </tr>  
                          <tr>
                              <td>DOING</td>
                              <td>Drive away and use vehicle</td>   
                          </tr>
                          <tr>
                              <td>POST-CONDITION</td>
                              <td>Abandon by next day</td>   
                          </tr>
                          <tr>
                              <td>EXIT</td>
                              <td>Exit from system</td>   
                          </tr>
                      </table>
                      </p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Auto Theft with Failure Explaination Script
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <div class="card">
                    <h5 class="card-header"><strong><em>PROTOSCRIPT:&nbsp;</em></strong> AUTO THEFT
                        <br/><strong><em>SCRIPT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> TEMPORARY USE
                        <br/><strong><em>TRACK:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> "PERFORMANCE DRIVING"
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                          <table  class="table table-hover table-striped table-secondary table-bordered">
                            <tr>
                                <th>SCRIPT SCENES/FUNCTIONS</th>
                                <th>SCRIPT ACTIONS</th>
                                <th>FAILURE EXPLANATION</th>
                            </tr>
                            <tr>
                                <td>PREPARATION</td>
                                <td>Gather tools</td>   
                                <td>Forgot scaffold tube</td>
                            </tr>
                            <tr>
                                <td>ENTRY</td>
                                <td>Enter parking lot</td>   
                                <td>Parking lot closed</td>
                            </tr>
                            <tr>
                                <td>PRE-CONDITION</td>
                                <td>Loiter unobtrusively</td>   
                                <td>Noticed by security</td>
                            </tr>
                            <tr>
                                <td>INSTRUMENTAL PRE-CONDITION</td>
                                <td>Select vehicle</td>   
                                <td>No vehicle of choice</td>
                            </tr>
                            <tr>
                                <td>INSTRUMENTAL INITIATION</td>
                                <td>Approach vehicle</td>  
                                <td>Driver returns</td> 
                            </tr>
                            <tr>
                                <td>INSTRUMENTAL ACTUALIZATION</td>
                                <td>Break into vehicle</td>   
                                <td>Vehicle impregnable</td>
                            </tr>  
                            <tr>
                                <td>DOING</td>
                                <td>Take vehicle</td>   
                                <td>Vehicle immobilized</td>
                            </tr>
                            <tr>
                                <td>POST-CONDITION</td>
                                <td>Reverse out of bay</td>   
                                <td>Crash into wall</td>
                            </tr>
                            <tr>
                                <td>EXIT</td>
                                <td>Leave parking lot</td>   
                                <td>Gates closed for night</td>
                            </tr>
                        </table>
                        </p>
                      </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  Vandalism with Intervention points Script
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                  <div class="card">
                    <h5 class="card-header"><strong><em>PROTOSCRIPT:&nbsp;</em></strong> VANDALISM
                        <br/><strong><em>SCRIPT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> GRAFFITI WRITING
                        <br/><strong><em>TRACK:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> "TAG WRITING"
                    </h5>
                      <div class="card-body">
                        <p class="card-text">
                            <table  class="table table-hover table-striped table-secondary table-bordered">
                                <tr>
                                    <th>SCRIPT SCENES/FUNCTIONS</th>
                                    <th>SCRIPT ACTIONS</th>
                                    <th>SITUATIONAL CONTROL</th>
                                </tr>
                                <tr>
                                    <td>PREPARATION</td>
                                    <td>Buy spray-can<br/> Find good setting</td>   
                                    <td>Sales regulation<br/> City paint-out program</td>
                                </tr>
                                <tr>
                                    <td>ENTRY</td>
                                    <td>Enter setting</td>   
                                    <td>Access control<br/>Entry/exit screening</td>
                                </tr>
                                <tr>
                                    <td>PRE-CONDITION</td>
                                    <td>Loiter </td>   
                                    <td>Surveillance</td>
                                </tr>
                                <tr>
                                    <td>INSTRUMENTAL PRE-CONDITION</td>
                                    <td>Select target</td>   
                                    <td>Remove target</td>
                                </tr>
                                <tr>
                                    <td>INSTRUMENTAL INITIATION</td>
                                    <td>Approach target</td>  
                                    <td>Surveillance</td> 
                                </tr>
                                <tr>
                                    <td>INSTRUMENTAL ACTUALIZATION</td>
                                    <td>Reach target</td>   
                                    <td>Protective screens<br/>Legal target provided</td>
                                </tr>  
                                <tr>
                                    <td>DOING</td>
                                    <td>Spray graffiti</td>   
                                    <td>Graffiti-resistant paint</td>
                                </tr>
                                <tr>
                                    <td>POST-CONDITION</td>
                                    <td>Get away quietly</td>   
                                    <td>Moisture-activated alarm</td>
                                </tr>
                                <tr>
                                    <td>EXIT</td>
                                    <td>Leave setting</td>   
                                    <td>Entry/exit screening</td>
                                </tr>
                            </table>
                        </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
              Pickpocket Script
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
          <div class="accordion-body">
              <div class="card">
                <h5 class="card-header"><strong><em>PROTOSCRIPT:&nbsp;</em></strong> PICKPOCKET
                    <br/><strong><em>SCRIPT:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> PICKPOCKETING AT TRAIN STATION
                    <br/><strong><em>TRACK:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em></strong> "WALLET PICKPOCKETING"
                </h5>
                  <div class="card-body">
                    <p class="card-text">
                        <table  class="table table-hover table-striped table-secondary table-bordered">
                            <tr>
                                <th>SCRIPT SCENES/FUNCTIONS</th>
                                <th>SCRIPT ACTIONS</th>
                                
                            </tr>
                            <tr>
                                <td>PREPARATION</td>
                                <td>Picks a train station</td>   
                                
                            </tr>
                            <tr>
                                <td>ENTRY</td>
                                <td>Enter setting</td>   
                               
                            </tr>
                            <tr>
                                <td>PRE-CONDITION</td>
                                <td>Identify appropriate traget in a crowd</td>   
                                
                            </tr>
                            <tr>
                                <td>INSTRUMENTAL INITIATION</td>
                                <td>Approach target</td>  
                               
                            </tr>
                            <tr>
                                <td>INSTRUMENTAL ACTUALIZATION</td>
                                <td>Reach target<br/>Nudges the target from behind</td>   
                                
                            </tr>  
                            <tr>
                                <td>DOING</td>
                                <td>Apologies whilst pocketing the wallet</td>   
                               
                            </tr>
                            <tr>
                                <td>POST-CONDITION</td>
                                <td>Exits crowd<br/>Removes cash/cards from wallet<br/>Disposes of wallet<br/>Pockets the cash<br/>Takes credit cards to associate to exhange for cash<br/>Spends cash</td>   
                               
                            </tr>
                            
                        </table>
                    </p>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>

{% endblock %}